[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/P1umer/AFLplusplus.git
[submodule "libprotobuf-mutator"]
	path = libprotobuf-mutator
	url = https://github.com/google/libprotobuf-mutator.git
